.main_stage{
    //-fx-background-color: white ;
    -fx-background-color: #f3f3f3;
}

.main_notebook{

}

.scrollpane{
    -fx-background-color: transparent ;
}
.tabs_container{
    //-fx-border-color: black ;
}
.tabs_vbox{
    //-fx-border-color: gray ;
   -fx-background-color: #ececec;

}
.emptyLabel {
    -fx-font-size: 15px;
    -fx-padding: 25 0 0 0;
    -fx-font-family: "Arial";
    -fx-text-fill: grey;
    -fx-text-alignment: center;
}

/* -------Tab header-------*/

.tabs_header .title{
    -fx-background-color: #454545;
    -fx-border-color: transparent transparent gray transparent;
}
.tabs_header .title .button{
    -fx-background-color:  white ;
    -fx-border-radius: 1;
    -fx-padding: 5.5;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-background-radius:100;
}
.tabs_header .title .button:hover{
    -fx-background-color: #C8C7C7;
}
.tabs_header .title .menu-button{
    -fx-background-color: #F6F5F5;
    -fx-border-color: gray;
    -fx-padding: 0;
    -fx-border-radius: 100;
    -fx-background-radius: 100;
}
.tabs_header .title .menu-button:showing,
.tabs_header .title .menu-button:hover{
    -fx-background-color: #CECECE;
}
.tabs_header .title .menu-button .arrow-button{
    visibility: hidden;
    -fx-pref-width: 0;
}
.add_icon{
}

/* -------Tabs-------*/
.tab{
    -fx-pref-height: 40;
    -fx-pref-width: 200;
    -fx-alignment: baseline-left;
    -fx-background-color: #f9f9f9;
    -fx-border-color: transparent transparent gray transparent;
    -fx-border-width: 0 0 1 4;
}

.tab:selected, .tab:hover{
   -fx-background-color: #d5d5d5;
}

/* -------Notepad-------*/
.notepad_scroll_pane .viewport{
    -fx-background-color: white;
}

.notepad_scroll_pane .notebook_textarea{
    //-fx-border-color: gray;
}
.notepad_scroll_pane .notebook_textarea .content{
    //-fx-background-color: white;
}
/* -------Creation & Edit popup-------*/
.create_edit_popup{

}
.popup_vbox{
    -fx-padding:20;
    -fx-spacing:15;
}
.text_field{
    -fx-background-color: #e8e8e8;
    -fx-focus-color: gray;
    -fx-border-color: #cfcfcf;
    -fx-focus-glow:red;
}
.color-picker{
    -fx-background-color: #e8e8e8;
    -fx-focus-color: gray;
    -fx-border-color: #cfcfcf;
    -fx-padding:2;
}
.color-picker:pressed{

}
.color-picker:hover{
    -fx-background-color: #d1d1d1;
}
.color-picker:hover .arrow{
    -fx-background-color: white;
}
.submit_button{
    -fx-background-color: #454545;
    -fx-text-fill:white;
    -fx-pref-width:282;
}
.submit_button:hover {
    -fx-background-color: #2e2e2e;
}
.submit_button:pressed {
    -fx-background-color: #171717;
}